@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./Assets/Fonts/roboto-v29-latin-regular.woff2') format('woff2'),
		url('./Assets/Fonts/roboto-v29-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('./Assets/Fonts/roboto-v29-latin-500.woff2') format('woff2'),
		url('./Assets/Fonts/roboto-v29-latin-500.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('./Assets/Fonts/roboto-v29-latin-700.woff2') format('woff2'),
		url('./Assets/Fonts/roboto-v29-latin-700.woff') format('woff');
}

:root{
	--green:#27ae60;
	--black:#2c2c54;
  }
  
  *{
	font-family: 'Nunito', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .2s linear;
  }
  
  *::selection{
	background:var(--green);
	color:#fff;
  }
  
  html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 6.5rem;
	scroll-behavior: smooth;
  }
  
  section{
	padding:2rem 9%;
  }
  
  .btn{
	display: inline-block;
	margin-top: 1rem;
	background:var(--green);
	color:#fff;
	padding:.8rem 3rem;
	font-size: 1.7rem;
	text-align: center;
	cursor: pointer;
  }
  
  .btn:hover{
	background:var(--black);
  }